@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img{
    max-width: 100%;
    object-fit: cover;
}

body{
    font-family: 'Roboto', sans-serif;
}



// header start

#header{
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
    h1{
        font-size: 5.5rem;
        color:#212529;
    }
    h3{
        font-style: italic;
        margin: 20px 0;
        color: #212529;
    }
    div{
        margin: 30px 0;
        a{
            padding: 20px 35px;
            background-color:#1D809F;
            border-radius: 5px;
            color: #FFF;
            font-size: 0.9rem;
        }
    }
   
}

// header end




// Stylish start

#Stylish{
    text-align: center;
    margin: 100px 0;
    h4{
        color: #212529;
        font-size: 2rem;
    }

    p{
        font-size: 1.25rem;
        font-weight: 300;
        color: gray;
        margin: 10px 0 20px;

        a{
            color:#1D809F ;
            text-decoration:underline;
        }
    }

    div{
        margin: 50px 0;
        a{
            padding: 20px 35px;
            background-color:#212529;
            border-radius: 5px;
            color: #FFF;
            font-size: 0.9rem;
        }
        
    }
}

// Stylish end



// next-project start
#next-project{
    background-color:#1D809F ;
    text-align: center;
    padding: 90px 160px;

    h5{
        color: #F2BF1E;
        text-transform: uppercase;
        font-size: 1rem;
    }
    h2{
        font-size: 3rem;
        color: #fff;
        margin: 10px 0 50px;
    }

    .next-project-icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
        text-align: center;
        
        .icon{
            div{
                background-color: #FFF;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
               
               i{

                color: #1D809F;
                font-size: 2.3rem;
                
                
               }
            }

            h6{
                font-size: 2rem;
                color: #fff;
                font-weight: 700;
                margin: 20px 0 20px;
            }

            p{
                color: rgb(240, 227, 227);
            }
        }
    }
}

// next-project end


// next-website start
#next-website{

    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);

    background-position: center;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;

    height: 70vh;

    h2{
        font-size: 3.3rem;
        max-width: 400px;
        color:#212529 ;
        margin: 20px 0 70px;
    }

    a{
        padding: 20px 35px;
        background-color:#1D809F;
        border-radius: 5px;
        color: #FFF;
        font-size: 0.9rem;
    }
}
// next-website end

// Recent-Projects start

#Recent-Projects{
    padding: 90px 100px;
    text-align: center;

    h5{
        color: #F2BF1E;
        text-transform: uppercase;
        font-size: 1rem;
    }
    h2{
        font-size: 3rem;
        margin: 10px 0 50px;
    }

    .recent-cards{
        display: grid;
        grid-template-areas: 'card1 card2'
                            'card3 card4'
        ;
        place-content: center;

        
        .recent-card{
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 400px;
            max-width: 600px;
            display: flex;
            align-items: flex-end;
            padding: 40px;
            color: #fff;
            text-align: start;
            transition: all .3s ease;
            
            .recent-card-text{
                display: flex;
                align-items: flex-end;
                width: 100%;
                height: 100%;
                background-color:rgba(29, 128, 159,0) ;


            }

            &:hover{
                transform: scale(0.9);
                background-color:rgba(29, 128, 159,0.4) ;

            }



        }

        .card1{
            background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);

            grid-area: card1;
        }

        .card2{
            background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-2.jpg);
            grid-area: card2;
        }

        .card3{
            background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-3.jpg);
            grid-area: card3;
        }

        .card4{
            background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-4.jpg);
            grid-area: card4;
        }

           
    }
   
}


// Recent-Projects end



// bellow buttons start

#bellow-buttons{
    text-align: center;
    background-color: #1D809F;
    padding: 90px 180px;
    h3{
        font-size: 2rem;
        color: #fff;
        margin: 30px 0;
    }
    div{
        display: flex;
        justify-content: center;
        
        .link-button{
            padding: 20px 35px;
        background-color:#fff;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #000;
        margin-right: 20px;
        }

        .link-button2{
            padding: 20px 35px;
            background-color:#212529;
            border-radius: 5px;
            color: #FFF;
            font-size: 0.9rem;
        }
    }
}

// bellow buttons end


// map section start

#map{
    height: 65vh;
}

// map section end



// footer start

#footer{
    padding: 70px 100px;
    text-align: center;

    .social-media-icons{
        display: flex;
        justify-content: center;

        div{
            background-color: #1D809F;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;

            i{
                color: #fff;
                font-size: 2rem;

            }
        }

        
    }

    .copyright{
           margin: 20px 0; 

          span{
            color: gray;
            font-size: 0.8rem;
          } 
    }
}

// footer end





@media screen and (max-width:1200px) {

    #Recent-Projects{
        padding: 90px 50px;
        text-align: center;
    }    


}


@media screen and (max-width:992px) {

    #Recent-Projects{

        .recent-cards{
            display: grid;
            grid-template-areas: 'card1'
                                'card2 '
                                'card3'
                                'card4'
            ;
    
            gap: 20px;

        }


    }    

}